PORT=3000
NODE_ENV=development

# Supabase (Base de datos, autenticación y almacenamiento)
SUPABASE_URL=your-supabase-url
SUPABASE_PUBLISHABLE_KEY=your-publishable-key
SUPABASE_SECRET_KEY=your-secret-key
SUPABASE_JWKS_URL=your-supabase-url/auth/v1/.well-known/jwks.json